<a href="https://colab.research.google.com/github/idaawijayanti/Basic-Python-Programming-for-Data-Science/blob/main/Ida_Wijayanti_1800015031_Tugas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dataset

In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("https://raw.githubusercontent.com/jokoeliyanto/Kelas-Dasar-Pejuang-Data-2.0/main/Super-Store-Dataset.csv")
df.head()

         order_id  order_date customer_id  ...     sales quantity    profit
0  CA-2016-152156   11/8/2016    CG-12520  ...  261.9600        2   41.9136
1  CA-2016-152156   11/8/2016    CG-12520  ...  731.9400        3  219.5820
2  CA-2016-138688   6/12/2016    DV-13045  ...   14.6200        2    6.8714
3  US-2015-108966  10/11/2015    SO-20335  ...  957.5775        5 -383.0310
4  US-2015-108966  10/11/2015    SO-20335  ...   22.3680        2    2.5164

[5 rows x 9 columns]

## Variabel dataset

Variabel-variabel yang terdapat pada dataset ini adalah sebagai berikut:
1. **order_id** = Nomor ID pembelian(nota)
2. **order_data** = Tanggal pembelian
3. **customer_id** = Nomor ID pembeli
4. **segment** = Segmen produk 
5. **category** = Kategori produk
6. **sub_category** = Sub kategori produk
7. **sales** = Total harga pembelian
8. **quantity** = Jumlah produk dibeli
9. **profit** = Keuntungan

JAWAB :



1.   Tentukan segmen mana dengan profit tertinggi!

In [45]:
import pandas as pd
import numpy as np
hasil1 = pd.DataFrame(df[['segment', 'profit']])
hasil1

        segment    profit
0      Consumer   41.9136
1      Consumer  219.5820
2     Corporate    6.8714
3      Consumer -383.0310
4      Consumer    2.5164
...         ...       ...
9983   Consumer    4.1028
9984   Consumer   15.6332
9985   Consumer   19.3932
9986   Consumer   13.3200
9987   Consumer   72.9480

[9988 rows x 2 columns]

In [10]:
df.segment.value_counts()

Consumer       5188
Corporate      3019
Home Office    1781
Name: segment, dtype: int64

In [11]:
df_Consumer=df[df['segment']=='Consumer']
df_Corporate=df[df['segment']=='Corporate']
df_Home_Office=df[df['segment']=='Home Office']

In [12]:
df_Consumer.profit.sum()

128959.22080000001

In [13]:
df_Corporate.profit.sum()

83579.158

In [14]:
df_Home_Office.profit.sum()

58189.7681

Jadi, dalam kasus ini segment dengan profit tertinggi adalah Consumer

2.   Tentukan category mana dengan sales terbanyak!

In [46]:
hasil2= pd.DataFrame(df[['category', 'sales']]);
hasil2

             category     sales
0           Furniture  261.9600
1           Furniture  731.9400
2     Office Supplies   14.6200
3           Furniture  957.5775
4     Office Supplies   22.3680
...               ...       ...
9983        Furniture   25.2480
9984        Furniture   91.9600
9985       Technology  258.5760
9986  Office Supplies   29.6000
9987  Office Supplies  243.1600

[9988 rows x 2 columns]

In [16]:
df.category.value_counts()

Office Supplies    6026
Furniture          2121
Technology         1841
Name: category, dtype: int64

In [17]:
df_office_supplies=df[df['category']=='office Supplies']
df_furniture=df[df['category']=='Furniture']
df_technology=df[df['category']=='Technology']

In [18]:
df_office_supplies.sales.sum()

0.0

In [19]:
df_furniture.sales.sum()

741999.7953

In [20]:
df_technology.sales.sum()

755815.72

Jadi, dalam kasus ini category dengan sales terbanyak adalah Technology



3.   Tentukan Sub-Category dengan quantity paling sedikit!

In [47]:
import pandas as pd
import numpy as np
hasil3 = pd.DataFrame(df[['sub_category', 'quantity']]);
hasil3

     sub_category  quantity
0       Bookcases         2
1          Chairs         3
2          Labels         2
3          Tables         5
4         Storage         2
...           ...       ...
9983  Furnishings         3
9984  Furnishings         2
9985       Phones         2
9986        Paper         4
9987   Appliances         2

[9988 rows x 2 columns]

In [22]:
df.sub_category.value_counts()

Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        113
Copiers          64
Name: sub_category, dtype: int64

In [43]:
df_binders=df[df['sub_category']=='Binders']
df_paper=df[df['sub_category']=='Paper']
df_furnishings=df[df['sub_category']=='Furnishings']
df_phones=df[df['sub_category']=='Phones']
df_storage=df[df['sub_category']=='Storage']
df_Art=df[df['sub_category']=='Art']
df_accessories=df[df['sub_category']=='Accessories']
df_Labels=df[df['sub_category']=='Labels']
df_Tables=df[df['sub_category']=='Tables']
df_Envelopes=df[df['sub_category']=='Envelopes']
df_bookcases=df[df['sub_category']=='Bookcases']
df_Fasteners=df[df['sub_category']=='Fasteners']
df_supplies=df[df['sub_category']=='Supplies']
df_machines=df[df['sub_category']=='Machines']
df_copiers=df[df['sub_category']=='Copiers']

In [24]:
df_binders.quantity.sum()

5974

In [25]:
df_paper.quantity.sum()

5178

In [26]:
df_furnishings.quantity.sum()

3563

In [28]:
df_phones.quantity.sum()

3289

In [27]:
df_storage.quantity.sum()

3158

In [29]:
df_Art.quantity.sum()

3000

In [30]:
df_accessories.quantity.sum()

2976

In [32]:
df_Labels.quantity.sum()

1400

In [33]:
df_Tables.quantity.sum()

1241

In [34]:
df_Envelopes.quantity.sum()

906

In [35]:
df_bookcases.quantity.sum()

868

In [36]:
df_Fasteners.quantity.sum()

914

In [37]:
df_supplies.quantity.sum()

647

In [38]:
df_machines.quantity.sum()

429

In [44]:
df_copiers.quantity.sum()

218

Jadi, Sub-Category dengan quantity paling sedikit adalah copiers

#Tugas Individu


1. Tentukan Segment mana dengan profit tertinggi!  [30]
2. Tentukan Category mana dengan sales terbanyak!  [30]
3. Tentukan Sub-Category dengan quantity paling sedikit! [40]





4. **Challange Question!!!  Tentukan Bulan dengan Profit Tertinggi!!!** 

Bonus Nilai 100 di Salah Satu Tugas Lainnya