<a href="https://colab.research.google.com/github/idaawijayanti/Basic-Python-Programming-for-Data-Science/blob/main/IdaWijayanti_1800015031.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Pendefinisian fungsi_kuadrat
def fungsi_kuadrat(x):
    hasil = x**2
    return hasil

In [2]:
# Alternatif pendefinisian fungsi_kuadrat
def fungsi_kuadrat(x):
    return x**2

In [3]:
# Pemanggilan fungsi_kuadrat
fungsi_kuadrat(6)

36

In [4]:
# Mendefinisikan fungsi dengan beberapa argumen
def tampilkan_kata(a, b, c):
    print(a, b, c)

In [5]:
# Positional Arguments
tampilkan_kata('aku', 'kau', 'dia')

aku kau dia

In [6]:
tampilkan_kata('kau', 'aku', 'dia')

kau aku dia

In [7]:
# argumen berdasarkan keyword-nya
tampilkan_kata(a='aku', b='kau', c='dia')
tampilkan_kata(c='dia', b='kau', a='aku')

aku kau dia
aku kau dia

In [8]:
# campuran antara argumen posisi dan argumen kata kunci
tampilkan_kata('aku', b='kau', c='dia')

aku kau dia

In [9]:
# Argumen default
def tampilkan_kata(a, b, c, d='sahabat'):
    print(a, b, c, d)

tampilkan_kata('aku', 'kau', 'dia')
tampilkan_kata('aku', b='kau', c='dia', d='teman')

aku kau dia sahabat
aku kau dia teman

In [14]:
def penjumlahan(x, y):      # input
    a=x+y                   # proses
    return a                # output

penjumlahan(1, 2)           # pemanggilan fungsi

3

In [16]:
def penjumlahan(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(penjumlahan(1, 2))
print(penjumlahan(1, 2, 3))

3
6
3
6

In [18]:
def luas_dan_keliling_persegi(s):
    luas = s**2
    keliling = 4*s
    return luas, keliling

luas, keliling = luas_dan_keliling_persegi(2)
print('luas:', luas)
print('keliling:', keliling)

luas: 4
keliling: 8

##Latihan
FUNCTION
1. Buatlah sebuah fungsi untuk menghitung luas dan keliling lingkaran dengan input jari2!

In [20]:
def luas_dan_keliling_lingkaran(r):
    jari2 = r
    pi = 3.14
    luas = pi*(r**2)
    keliling = 2*pi*r
    return luas, keliling

luas, keliling = luas_dan_keliling_lingkaran(2)
print('luas lingkaran:', luas)
print('keliling lingkaran:', keliling)

luas lingkaran: 12.56
keliling lingkaran: 12.56

2. Buatlah sebuah fungsi untuk menggabungkan dua kata dalam bentuk string bebas menjadi satu kata tanpa spasi dengan huruf kecil

Contoh :

gabung_kata('TANGKUBAN', 'PeRaHu')

Output:

'''python 'tangkubanperahu'

In [22]:
def gabung_kata(x, y):
    print((x+y).lower());
gabung_kata('TANGKUBAN', 'PeRaHu')

tangkubanperahu

3. Buatlah sebuah fungsi awal_akhir(list_input) untuk menukar elemen pertama pada sebuah list dengan elemen terakhir pada list yang sama!

Contoh:

      awal_akhir([1,2,3,4])

Output:

'''python [4,2,3,1]

In [32]:
def awal_akhir(list_input):
    awal, *tengah, akhir = list_input
    list_input = [akhir, *tengah, awal];
    print(list_input);
awal_akhir([1,2,3,4])

[4, 2, 3, 1]

In [33]:
def penjumlahan_kuadrat(x,y):
    return x**2 + y**2

In [34]:
lambda x,y : x**2 + y**2

In [35]:
greeting = lambda name: print(f"Hello, {name}")

In [36]:
greeting("Dian")
greeting("Ayu")

Hello, Dian
Hello, Ayu

In [37]:
# Fungsi lambda untuk menambahkan angka 10 kepada argumen input
f = lambda x: x+10
val1 = f(5)
val2 = f(100)
print(val1, val2)

15 110

In [38]:
# Fungsi lambda untuk mengalikan dua argumen inpu dan menampilkan hasilnya
f = lambda x,y: x*y
val3 = f(2,10)
val4 = f(7,5)
print(val3, val4)

20 35

##Latihan
Lambda

1. Buatlah fungsi lambda untuk melakukan filter pada data range(n) untuk data-data yang berupa bilangan kelipatan 3!

In [30]:
# Menentukan Bilangan Kelipatan 3
kelipatantiga=lambda x: x % 3 == 0
list(filter(kelipatantiga, range(15)))

[0, 3, 6, 9, 12]

2. Buatlah fungsi lambda untuk memilih kata-kata dengan jumlah karakter lebih dari sama dengan 6 pada list inputnya. Misal :

      list_input=['saya', 'adalah', 'seorang', 'kapiten']

Output:

    ['adalah', 'seorang', 'kapiten']

In [31]:
list_input=['saya', 'adalah', 'seorang', 'kapiten']
# Mengambil list input yang memiliki jumlah karakter lebih dari sama dengan 6
pilih_input = lambda x: len(x) >= 6
list(filter(pilih_input, list_input))

['adalah', 'seorang', 'kapiten']